# Netlify
.netlify/

# Environment Variables
.env
.env.*

# Logs
logs/
*.log
*.txt

# Dependencies
node_modules/
frontend/node_modules/

# Build
dist/
frontend/dist/

# Scratch & Local Tools
scratch/

# OS
.DS_Store
